bk
keepaUpdateEnv
single_bot
__pycache__
logs
backups
chrome-data
recovery_session.session
.venv
auth.py
sort.py
.env.bak
session_string.txt
.env
app/csv_cleaner.py
post_info.json.bak
README-2.md
app/raw_to_clean.py
app/produtos.csv
app/post_info.json
data/post_info.json
produtos.txt
cleanup_screenshots.sh
.txt
